body {
  background-color: #f0f0f0;
}

.title-header h1 {
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: lightblue;
}

.piano-header h2 {
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: lightgreen;
}

.degree-header h2 {
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: lightgreen;
}

.chord-header h2 {
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: lightgreen;
}

.main-header h2 {
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: lightgreen;
}

.content {
  background-color: yellow;
  padding: 0px;
  margin: 0;
}

button {
  font-size: 18px;
  padding: 10px;
  margin: 5px;
  flex: 1;
  min-width: 50px;
}

button:hover {
  cursor: pointer;
}

.chord-buttons h3 {
  margin: 5px;
  padding: 0;
}

.grid-button {
  width: 100px;
}

.invisible-button {
  visibility: hidden;
  width: 100px;
}

.indent-button {
  visibility: hidden;
  width: 50px;
}

.piano-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: lavender;
  justify-content: space-evenly;
  align-content: space-evenly;
  height: 200px;
}

.piano-container > div {
  background-color: white;
  font-size: 20px;
}
